@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400&display=swap');

body {
	background-color: rgb(82, 169, 159);
	font-family: 'Lexend', sans-serif;
	color: #ffffff;
}

.navbar {
	height: 100%;
	width: 9%;
	z-index: 1;
	position: fixed;
	left: 0;
	top: 0;
	background-color: #e27d60;
}

.navbar a {
	padding: 20px 10px 20px 25px;
	text-decoration: none;
	color: #ffffff;
	display: block;
	font-size: 18px;
	cursor: pointer;
	border-bottom: 2px solid #e8a87c;
}

.navbar a:hover {
	background-color: #e8a87c;
}

.navbar a.active {
	background-color: #e8a87c;
}

.home,
.auth,
.error {
	margin: 3% 30% 0% 13%;
}

.heading {
	font-size: 40px;
}

.sub-heading {
	margin-top: -15px;
}

::placeholder {
	color: rgb(230, 230, 230);
}

.auth input {
	font-family: inherit;
	width: 300px;
	height: 40px;
	display: block;
	margin-bottom: 10px;
	border: 1px solid #ffffff;
	border-radius: 10px;
	background-color: inherit;
	color: white;
	padding-left: 10px;
}

.auth button {
	width: 100px;
	height: 35px;
	border: 1px solid #956b78;
	border-radius: 10px;
	background-color: #c38d9e;
	color: white;
	font-family: inherit;
}

.auth button:hover {
	cursor: pointer;
	background-color: #956b78;
}

.whatsapp button {
	margin-top: 25px;
	width: 300px;
	height: 50px;
	border: 1px solid #41b3a3;
	border-radius: 10px;
	background-color: #139483;
	color: white;
	font-family: inherit;
	font-size: 15px;
}

.whatsapp button:hover {
	cursor: pointer;
	background-color: #0e7c6e;
}

.row {
	margin-top: 4%;
	margin-left: 13%;
	display: table;
	width: 80%;
	table-layout: fixed;
	border-spacing: 10px;
}

.column {
	display: table-cell;
	text-align: center;
	padding: 0px 10px;
}

.card-row {
	margin-left: 13%;
	display: table;
	table-layout: fixed;
}

.card-column {
	display: table-cell;
}

.card {
	width: 300px;
	height: 200px;
	background-color: #378480;
	margin-right: 30px;
	border-radius: 20px;
}

.card p {
	font-size: 25px;
	padding: 30px 30px 10px 30px;
}

.card button {
	color: white;
	font-size: 14px;
	font-family: inherit;
	margin-left: 30px;
	width: 100px;
	height: 40px;
	border: 1px solid #956b78;
	border-radius: 20px;
	background-color: #c38d9e;
}

.card button:hover {
	cursor: pointer;
	background-color: #956b78;
}
