{% extends "base.html" %}{% block title %}Results{% endblock %} {% block content
%}
<div class="home">
	<h2>Journal Entry Analysis Results</h2>
	<p>
		Analysis of entry on {{ entry.created_at.strftime("%d %B, %Y") }}. Entries
		with more percentage are likely to give you a better perspective of the
		contents of the entry.
	</p>
</div>
<div class="analysis">
	<div class="journal-row">
		<div class="journal-column">
			<table>
				<tr>
					<th>Emotion</th>
					<th>Percentage</th>
				</tr>
				{% for emotion in entry.emotions %}
				<tr>
					<td>{{ emotion }}</td>
					<td>{{ "%.2f"|format(entry.emotions[emotion]) }}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		<div class="journal-column">
			<textarea readonly>{{ entry.body }}</textarea>
		</div>
	</div>
</div>
{% endblock %}
