{% extends "base.html" %}{% block title %}Anxiety{% endblock %} {% block content
%}
<div class="home">
	<h2>Anxiety</h2>
	<p>
		Anxiety is something that we all experience from time to time. It's our
		body's way of preparing us to face and manage challenging situations.
		Sometimes anxiety can help us perform better by helping us feel alert and
		motivated.
	</p>
	<p>
		Anxiety can come and go - but for some people, it can stick around for a
		long time, or happen in situations where you wouldn't normally expect to
		feel anxious. This can end up having a big impact on their daily lives.
	</p>
	<p>
		It can be tough to cope, but the good news is there are things you can do
		and ways you can get support.
	</p>
	<h3>What are the symptoms of anxiety?</h3>
	<p>
		Everyone experiences anxiety differently, but there are some common signs
		and symptoms of anxiety. Physical signs can include:
	</p>
	<ul>
		<li>a racing heart</li>
		<li>faster breathing</li>
		<li>feeling tense or having aches (especially neck, shoulders and back)</li>
		<li>sweating or feeling dizzy s</li>
		<li>shaking 'butterflies' or feeling sick in the stomach.</li>
	</ul>
	<h3>Thoughts can include</h3>
	<ul>
		<li>worrying about things a lot of the time</li>
		<li>feeling like your worries are out of control</li>
		<li>having trouble concentrating and paying attention</li>
		<li>worries that seem out of proportion.</li>
	</ul>
	<h3>Other signs can include</h3>
	<ul>
		<li>being unable to relax</li>
		<li>avoiding people or places like school or parties</li>
		<li>withdrawing from family and friends</li>
		<li>feeling annoyed, irritated or restless</li>
		<li>
			difficulty getting to sleep at night or waking up a lot during the night.
		</li>
	</ul>
</div>
{% endblock %}
