<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
		/>
		<link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}" />
		<title>Nasake - {% block title %}{% endblock %}</title>
	</head>
	<body>
		<div class="navbar">
			<a href="/home" class="{{ 'active' if active_page == 'home' }}">Home</a>
			<a href="/signup" class="{{ 'active' if active_page == 'signup' }}"
				>Sign Up</a
			>
			<a href="/login" class="{{ 'active' if active_page == 'login' }}"
				>Login</a
			>
			<a href="/disorders" class="{{ 'active' if active_page == 'disorders' }}"
				>Disorders</a
			>
			<a href="/tests" class="{{ 'active' if active_page == 'tests' }}"
				>Tests</a
			>
			<a href="/search" class="{{ 'active' if active_page == 'search' }}"
				>Search</a
			>
			<a href="/profile" class="{{ 'active' if active_page == 'profile' }}"
				>Profile</a
			>
			<a href="/auth/logout">Logout</a>
		</div>
		{% block content %}{% endblock %}
	</body>
</html>
