{% extends "base.html" %}{% block title %}Depression{% endblock %} {% block
content %}
<div class="home">
	<h2>Depression</h2>
	<p>
		Different people will experience depression in different ways. It's a good
		idea to address depression early before it starts having a bigger impact on
		your life.
	</p>
	<p>
		The word 'depression' is often used when people are talking about moments
		when they're feeling sad or down. It's normal to feel down from time to
		time. Many people feel sad after they have gone through stressful or
		difficult times. This could be a relationship break-up, trouble with family
		or friends, changing schools or exam times. Lots of people go through this.
	</p>
	<p>
		There's no simple answer for why depression happens. For some people, it can
		be a mix of events or issues that end up affecting how they feel, think and
		act. Sometimes there's no clear reason and that's OK, too.
	</p>
	<p>
		The good news is that people experiencing depression can and do get better.
	</p>
	<h3>What are the signs and symptoms?</h3>
	<p>
		Depression can be different for everyone, but there are some common signs
		and symptoms. A person may be experiencing depression if they've experienced
		some of the following changes for more than two weeks:
	</p>
	<h4>Changes to feelings or emotions</h4>
	<ul>
		<li>feeling unhappy, numb, empty, moody or irritable/snappy</li>
		<li>less interest in things that used to be enjoyable</li>
		<li>feeling worthless or guilty a lot of the time</li>
		<li>feeling like everything is becoming 'too hard'.</li>
	</ul>
	<h4>Changes to thoughts</h4>
	<ul>
		<li>negative thoughts about themselves, the world and the future</li>
		<li>
			having a hard time concentrating, making decisions, or remembering things
		</li>
		<li>having thoughts of self harm</li>
		<li>having thoughts of death or suicide.</li>
	</ul>
	<h4>Physical Changes</h4>
	<ul>
		<li>feeling tired most of the time</li>
		<li>low energy and motivation</li>
		<li>
			having trouble sleeping, experiencing changes in sleeping habits or not
			feeling rested regardless of the amount of sleep
		</li>
		<li>
			changes in appetite, loss of interest in food or eating too much - leading
			to weight loss or gain
		</li>
		<li>aches and pains that can't be explained.</li>
	</ul>
	<p>
		<i>Behavior changes:</i> withdrawing from family and friends not getting
		things done difficulty with school, university, TAFE or work using more
		alcohol and/or other drugs getting into trouble and fights.
	</p>
	<p>
		Sometimes people with depression experience other mental health issues too -
		like anxiety, panic disorder or substance use disorders.
	</p>
	<p>
		Some young people experiment with alcohol and other drugs to help them feel
		good in the short term. Unfortunately, when the effects have worn off,
		alcohol and other drugs can leave them feeling much worse in the long term.
	</p>
</div>
{% endblock %}
