{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="home">
	<h2>Hello, {{ user.first_name }}</h2>
	<p>{{ quote }}</p>
	<h2>Resources</h2>
</div>
<div class="card-row">
	<div class="card-column">
		<div class="card">
			<p>Types of Mental Health Disorders</p>
			<button><i class="fa-solid fa-arrow-right"></i></button>
		</div>
	</div>
	<div class="card-column">
		<div class="card">
			<p>Write a Daily Journal</p>
			<button><i class="fa-solid fa-arrow-right"></i></button>
		</div>
	</div>
	<div class="card-column">
		<div class="card">
			<p>Take a Mental Health Test</p>
			<button><i class="fa-solid fa-arrow-right"></i></button>
		</div>
	</div>
	<div class="card-column">
		<div class="card">
			<p>Vent out to a Chat Bot</p>
			<button><i class="fa-solid fa-arrow-right"></i></button>
		</div>
	</div>
</div>
{% endblock %}
