{% set active_page = "home" %} {% extends "base.html" %} {% block title %}Home{%
endblock %} {% block content %}
<div class="home">
	<h2>Hello, {{ user.first_name }}</h2>
	<p><i>{{ quote }}</i></p>
	<h2>Resources</h2>
	<p>Some mental health resources that can help you out on a daily basis.</p>
</div>
<div class="card-row">
	<div class="card-column">
		<div class="card">
			<p>Types of Mental Health Disorders</p>
			<button><i class="fa-solid fa-arrow-right"></i></button>
		</div>
	</div>
	<div class="card-column">
		<div class="card">
			<p>Write a Daily Journal</p>
			<a href="/journal">
				<button><i class="fa-solid fa-arrow-right"></i></button>
			</a>
		</div>
	</div>
	<div class="card-column">
		<div class="card">
			<p>Take a Mental Health Test</p>
			<a href="/tests">
				<button><i class="fa-solid fa-arrow-right"></i></button>
			</a>
		</div>
	</div>
	<div class="card-column">
		<div class="card">
			<p>Vent out to a Chat Bot</p>
			<a href="/chat">
				<button><i class="fa-solid fa-arrow-right"></i></button>
			</a>
		</div>
	</div>
</div>
{% endblock %}
