{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="home">
	<h1 class="heading">Nasake</h1>
	<p class="sub-heading"><i>affection, sympathy</i></p>
	<p>
		We provide access to resources such as self-assessment tools, therapy,
		counselling, and support groups.
		<i>Nasake</i> is the place for all your mental health assistance.
	</p>
	<div class="whatsapp">
		<a href="https://api.whatsapp.com/send?phone=919999666555">
			<button>
				<i class="fa-brands fa-whatsapp fa-lg"></i> Free Counselling on WhatsApp
			</button>
		</a>
	</div>
</div>
<div class="row">
	<div class="column">
		<img src="{{ url_for('static', path='/images/icon-account-1.svg') }}" />
		<p>Find the right type of support groups, therapists and suggestions</p>
	</div>
	<div class="column">
		<img src="{{ url_for('static', path='/images/icon-account-2.svg') }}" />
		<p>
			Get involved in group chats and discuss helpful topics with other young
			people
		</p>
	</div>
	<div class="column">
		<img src="{{ url_for('static', path='/images/icon-account-3.svg') }}" />
		<p>
			Create your own personalised space. Use tools and resources that work for
			you
		</p>
	</div>
	<div class="column">
		<img src="{{ url_for('static', path='/images/icon-account-4.svg') }}" />
		<p>Get 1-on-1 support</p>
	</div>
</div>
{% endblock %}
