{% extends "base.html" %}{% block title %}Psychosis{% endblock %} {% block
content %}
<div class="home">
	<h2>Psychosis</h2>
	<h3>What is psychosis?</h3>
	<p>
		Psychosis is an experience where a person has problems interpreting the real
		world. They might see or hear things that other people can't, or have
		unusual ideas or beliefs. This can affect their thoughts, feelings and
		behavior.
	</p>
	<p>
		Psychosis is often frightening for the person going through it and
		misunderstood by those around them. But it can be treated. Most people who
		experience psychosis makes a good recovery and go on to lead healthy,
		productive lives.
	</p>
	<p>
		Psychotic experiences are more common than many people think. People often
		choose not to talk about them because of stigma and misunderstanding.
	</p>
	<p>
		Psychosis is a serious issue that calls for professional clinical help - it
		can have a big impact on a person's life, and should never be ignored. It's
		important to get help early to increase chances for a quicker more complete
		recovery.
	</p>
	<h3>What are the symptoms of psychosis?</h3>
	<p>
		Confused thinking: Everyday thoughts can become confused, making sentences
		unclear or hard to understand. A person might find it hard to concentrate,
		follow a conversation or remember things. Thoughts can seem to speed up or
		slow down.
	</p>
	<p>
		<i>False beliefs (delusions):</i> A person can have strong beliefs in things
		that aren't real to other people. They might believe that they're being
		followed, that someone is trying to harm them, or that they're getting
		secret messages from TV. This can be very scary for the person.
	</p>
	<p>
		<i>Hallucinations:</i> A person may hear or see something that isn't
		actually there. Sometimes other senses like touch, smell or taste can also
		be affected. For example, they might:
	</p>
	<ul>
		<li>Hear noises or voices that aren't there</li>
		<li>
			See things that seem strange, like faces in objects or shadows at the
			window
		</li>
		<li>Have a strange taste in their mouth</li>
		<li>Smell things others can't</li>
		<li>Feel things on their skin that are not there.</li>
	</ul>
	<p>
		<i>Changed emotions:</i> A person may feel strange and cut off from the
		world. They may seem to feel less emotion, or show less emotion to those
		around them.
	</p>
	<p>
		<i>Changed behavior:</i> A person may be extremely active or find it hard
		getting the energy to do things. They might laugh when things don't seem
		funny, or become angry or upset without any obvious reason. The person may
		stop doing the things they used to do like hanging out with friends and
		family. The person can seem excited, depressed or irritable for little or no
		reason obvious to others.
	</p>
	<p>
		Symptoms of psychosis are different for everyone. They might not be present
		all the time, have different causes and can change over time.
	</p>
	<h3>What are the types of psychosis?</h3>
	<p>
		Experiencing psychotic symptoms doesn't necessarily mean that someone has a
		psychotic illness. More than three quarters of psychotic experiences don't
		progress to a diagnosable illness.
	</p>
	<p>
		About three in every 100 people are diagnosed with a psychotic illness at
		some stage in their life. A person is most likely to have their first
		episode of psychosis in their teens or early twenties.
	</p>
	<p>
		Many people assume that people experiencing psychosis have schizophrenia.
		But there are lots of other disorders that have psychotic symptoms,
		including:
	</p>
	<ul>
		<li>brief psychotic disorder</li>
		<li>schizophrenia</li>
		<li>substance/medication-induced psychotic disorder</li>
		<li>bipolar disorder</li>
		<li>major depression with psychotic features</li>
		<li>delusional disorder</li>
	</ul>
	<p>
		Because people's symptoms often change over time, the type of disorder often
		changes too. Sometimes people are diagnosed with one thing, and then later
		the diagnosis is changed or removed if they don't fit the criteria for that
		disorder anymore.
	</p>
</div>
{% endblock %}
