{% extends "base.html" %}{% block title %}Self Harm{% endblock %} {% block
content %}
<div class="home">
	<h2>Self Harm</h2>
	<h3>What is self harm?</h3>
	<p>
		Self harm is when people deliberately hurt their bodies. Common forms of
		self harm include:
	</p>
	<ul>
		<li>cutting (e.g., cutting the skin on arms, wrists or thighs)</li>
		<li>burning the skin</li>
		<li>picking at wounds or scars</li>
		<li>hitting yourself deliberately</li>
		<li>overdosing on medication, drugs or other harmful substances</li>
	</ul>
	<h3>Why do young people self harm?</h3>
	<p>
		Young people often report that they self harm to try to manage distressing
		emotions. Many may feel overwhelmed by difficult feelings, thoughts or
		memories. Sometimes people can self harm just to feel something, or it may
		seem like self harm is the only thing that helps.
	</p>
	<p>
		Some life experiences increase the likelihood that someone might use self
		harm to manage their distress. This includes people who've experienced
		emotional, physical or sexual abuse and people who are experiencing a mental
		health challenge. Remember this isn't always the case, every individual will
		have their own reasons why they self harm.
	</p>
	<p>
		Self harm might give relief for a moment, but it doesn't help 'fix' the
		problem. With the right help, people can learn different ways to cope and
		over time will rely less on self harm as a strategy.
	</p>
	<h3>What can I do if I self harm?</h3>
	<p>
		If you've been self harming or thinking about self harming, it's important
		to remember that self harm is a way to cope with and manage something. With
		the help of others, you can learn skills and be supported to cope with
		whatever is distressing you. If you're self harming or thinking about self
		harm remember that there are people who can support you and want to support
		you.
	</p>
	<p>
		It's useful to look for help when problems are starting out. Talking with a
		trusted family member, friend, teacher, or Elder about what you're
		experiencing is a good first step.
	</p>
</div>
{% endblock %}
