{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<div class="auth">
	<h1>Sign Up</h1>
	<form action="/auth/signup" method="post">
		<input type="text" name="first_name" placeholder="First Name" required />
		<input type="text" name="last_name" placeholder="Last Name" required />
		<input type="email" name="email" placeholder="Email" required />
		<input type="password" name="password" placeholder="Password" required />
		<button type="submit">Sign Up</button>
	</form>
</div>
{% endblock %}
