{% extends "base.html" %} {% block title %}Tests{% endblock %} {% block content
%}
<div class="home">
	<h2>Mental Health Tests</h2>
	<p>
		Online screening is one of the quickest and easiest ways to determine
		whether you are experiencing symptoms of a mental health condition.
	</p>
</div>
<div class="card-row">
	<div class="card-column">
		<div class="card">
			<p>Depression Test</p>
			<a href="depression-test">
				<button><i class="fa-solid fa-arrow-right"></i></button>
			</a>
		</div>
	</div>
	<div class="card-column">
		<div class="card">
			<p>Anxiety Test</p>
			<a href="anxiety-test">
				<button><i class="fa-solid fa-arrow-right"></i></button>
			</a>
		</div>
	</div>
	<div class="card-column">
		<div class="card">
			<p>ADHD Test</p>
			<a href="adhd-test">
				<button><i class="fa-solid fa-arrow-right"></i></button>
			</a>
		</div>
	</div>
	<div class="card-column">
		<div class="card">
			<p>Bipolar Test</p>
			<a href="bipolar-test">
				<button><i class="fa-solid fa-arrow-right"></i></button>
			</a>
		</div>
	</div>
</div>
<div class="card-row">
	<div class="card-column">
		<div class="card">
			<p>Psychosis Test</p>
			<a href="psychosis-test">
				<button><i class="fa-solid fa-arrow-right"></i></button>
			</a>
		</div>
	</div>
	<div class="card-column">
		<div class="card">
			<p>PTSD Test</p>
			<a href="ptsd-test">
				<button><i class="fa-solid fa-arrow-right"></i></button>
			</a>
		</div>
	</div>
	<div class="card-column">
		<div class="card">
			<p>Youth Test</p>
			<a href="youth-test">
				<button><i class="fa-solid fa-arrow-right"></i></button>
			</a>
		</div>
	</div>
</div>
{% endblock %}
